@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype"), url("../fonts/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-image-width: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html.active {
  overflow: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

body.active {
  overflow: hidden;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=number] {
  background: #fafcff;
  border: 1px solid #6eb1ff;
  border-radius: 30px;
  padding: 20px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  display: block;
  width: 100%;
  outline: none;
}

input[type=text]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder {
  opacity: 0.5;
}

input[type=text]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=number]::-moz-placeholder {
  opacity: 0.5;
}

input[type=text]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder {
  opacity: 0.5;
}

input[type=text]::-ms-input-placeholder,
input[type=tel]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=number]::-ms-input-placeholder {
  opacity: 0.5;
}

input[type=text]::placeholder,
input[type=tel]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder {
  opacity: 0.5;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.btn {
  border-radius: 30px;
  text-align: center;
  padding: 19px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:focus {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn img {
  margin-right: 13px;
  -o-object-fit: fill;
  object-fit: fill;
}

.btn-yellow {
  background-color: #ffdf39;
  -webkit-box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
}

.btn-yellow:hover {
  -webkit-box-shadow: 0px 0px 10px #ffdf39;
  box-shadow: 0px 0px 10px #ffdf39;
}

.btn-yellow:focus {
  background-color: #6eb1ff;
  -webkit-box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
}

.btn-blue {
  background-color: #6eb1ff;
  -webkit-box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
}

.btn-blue:hover {
  -webkit-box-shadow: 0px 0px 10px #6eb1ff;
  box-shadow: 0px 0px 10px #6eb1ff;
}

.btn-blue:focus {
  background-color: #ffdf39;
  -webkit-box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
}

.header {
  position: relative;
  padding-bottom: 150px;
  overflow: hidden;
}

.header > img {
  position: absolute;
  top: 0;
  left: 52%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
  height: 804px;
}

.header-head {
  padding: 12px 0;
  background: #fafcff;
  -webkit-box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-links__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
}

.header-links__nav a {
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-links__nav a:hover {
  color: #f05542;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-links__nav a:focus {
  font-weight: 600;
  color: #f05542;
  text-shadow: 0px 0px 4px rgba(240, 85, 66, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-links__btn a {
  border: 1px solid #ffdf39;
  background-color: transparent;
  padding: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
}

.header-links__btn a:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 223, 57, 0.5));
  filter: drop-shadow(0px 0px 10px rgba(255, 223, 57, 0.5));
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-links__btn a:focus {
  background-color: #ffdf39;
  -webkit-filter: none;
  filter: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-links__menu-mob {
  display: none;
  max-width: 210px;
  width: 100%;
  padding: 15px 22px;
  background: #6eb1ff;
  border-radius: 30px;
  -webkit-filter: drop-shadow(1px 4px 10px rgba(44, 44, 44, 0.1));
  filter: drop-shadow(1px 4px 10px rgba(44, 44, 44, 0.1));
}

.header-links__menu-mob .burger {
  margin-right: 17px;
}

.header-links__menu-mob .burger span {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #2c2c2c;
}

.header-links__menu-mob .burger span:not(:last-of-type) {
  margin-bottom: 6px;
}

.header-offer {
  padding: 140px 0 70px 0;
}

.header-offer h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 117px;
  color: #2c2c2c;
  max-width: 960px;
  width: 100%;
  margin-bottom: 30px;
}

.header-offer__btns .btn:first-of-type {
  margin-right: 30px;
}

.about-section {
  padding: 20px 0 62px;
}

.about-section .about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-section .about-inner__right {
  position: relative;
  max-width: 700px;
  width: 100%;
}

.about-section .about-inner__right::after {
  content: "";
  background: url("../img/icon-bird.svg") no-repeat center center/contain;
  height: 147px;
  width: 202px;
  position: absolute;
  bottom: 0;
  right: 25%;
}

.about-section .about-inner__right h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #6eb1ff;
  margin-bottom: 50px;
}

.about-section .about-inner__right > p:first-of-type {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #2c2c2c;
  margin-bottom: 1.5em;
}

.about-section .about-inner__right > p:last-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  margin-bottom: 1.5em;
}

.about-section .about-inner__right ul {
  margin-bottom: 26px;
}

.about-section .about-inner__right li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
}

.about-section .about-inner__right li img {
  width: 34px;
  margin-right: 14px;
}

.about-section .about-inner__right li:not(:last-of-type) {
  margin-bottom: 12px;
}

.help-section {
  padding: 62px 0 200px;
}

.help-section .help-inner {
  position: relative;
}

.help-section .help-inner > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.help-section .help-inner .img-tablet {
  display: none;
}

.help-section .help-inner .img-mob {
  display: none;
}

.help-section .help-inner__info_text {
  padding: 60px 0 124px;
  max-width: 600px;
  width: 100%;
  margin-left: 30%;
}

.help-section .help-inner__info_text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #2c2c2c;
  margin-bottom: 40px;
}

.help-section .help-inner__info_text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  margin-bottom: 0.5em;
}

.help-section .help-inner__info_text .btn {
  margin-top: 24px;
}

.help-section .help-inner__list {
  position: absolute;
  bottom: -116px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fafcff;
  border: 2px solid #ffdf39;
  border-radius: 100px;
  padding: 30px 74px 44px 74px;
  max-width: 1020px;
  width: 100%;
}

.help-section .help-inner__list li {
  text-align: center;
}

.help-section .help-inner__list li img {
  margin-bottom: 30px;
  height: 60px;
}

.help-section .help-inner__list li p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
}

.result-section {
  padding: 0 0 50px;
}

.result-section .result-inner h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffdf39;
  margin: 0 auto 60px;
}

.result-section .result-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 45px;
}

.result-section .result-inner ul span {
  font-weight: 800;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #6eb1ff;
  display: block;
}

.result-section .result-inner ul p {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #2c2c2c;
}

.result-section .result-inner ul li:nth-of-type(2) {
  margin-left: 65px;
}

.how-section {
  padding: 50px 0;
}

.how-section h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #f05542;
  max-width: 480px;
  width: 100%;
  margin: 0 auto 50px;
}

.how-section .how-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.how-section .how-inner__left {
  max-width: 718px;
  width: 100%;
}

.how-section .how-inner__item {
  padding: 50px;
}

.how-section .how-inner__item.how-inner__item_blue {
  background: url("../img/how-img-1.png") no-repeat;
  background-size: contain;
  margin-bottom: 4px;
}

.how-section .how-inner__item.how-inner__item_yellow {
  background: url("../img/how-img-2.png") no-repeat;
  background-size: contain;
}

.how-section .how-inner__item strong {
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
  color: #2c2c2c;
  display: block;
  margin-bottom: 30px;
}

.how-section .how-inner__item p {
  max-width: 566px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
}

.how-section .how-inner__item ul {
  margin-top: 20px;
}

.how-section .how-inner__item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.how-section .how-inner__item ul li img {
  margin-right: 17px;
}

.how-section .how-inner__item ul li:not(:last-of-type) {
  margin-bottom: 10px;
}

.our-partners-section {
  padding: 50px 0;
}

.our-partners-section .our-partners-inner__head {
  max-width: 625px;
  width: 100%;
  margin: 0 auto 50px;
  text-align: center;
}

.our-partners-section .our-partners-inner__head h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #2c2c2c;
  margin-bottom: 15px;
}

.our-partners-section .our-partners-inner__head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
}

.our-partners-section .our-partners-inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.our-partners-section .our-partners-inner__list img:not(:last-of-type) {
  margin-right: 30px;
}

.our-partners-section .our-partners-inner__info {
  text-align: center;
}

.our-partners-section .our-partners-inner__info span {
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
  color: #6eb1ff;
  display: block;
  margin-bottom: 30px;
}

.connect-section {
  padding: 50px 0;
  overflow: hidden;
}

.connect-section .connect-inner {
  position: relative;
}

.connect-section .connect-inner__head {
  margin-bottom: 35px;
}

.connect-section .connect-inner__head h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #f05542;
  margin-bottom: 15px;
}

.connect-section .connect-inner__head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2c2c2c;
}

.connect-section .connect-inner__form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.connect-section .connect-inner__form input {
  margin-bottom: 15px;
}

.connect-section .connect-inner__form .select-inner {
  width: 100%;
  position: relative;
}

.connect-section .connect-inner__form .select-inner__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fafcff;
  border: 1px solid #6eb1ff;
  border-radius: 30px;
  padding: 20px 40px;
  cursor: pointer;
}

.connect-section .connect-inner__form .select-inner__head span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  opacity: 0.5;
}

.connect-section .connect-inner__form .select-inner__head img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.connect-section .connect-inner__form .select-inner__head.active img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.connect-section .connect-inner__form .select-inner__list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background: #fafcff;
  border: 1px solid #6eb1ff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
  width: 100%;
  padding: 20px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.connect-section .connect-inner__form .select-inner__list.active {
  visibility: visible;
  top: 110%;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.connect-section .connect-inner__form .select-inner__list span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  opacity: 0.5;
  cursor: pointer;
  display: block;
}

.connect-section .connect-inner__form .select-inner__list span:not(:last-of-type) {
  margin-bottom: 10px;
}

.connect-section .connect-inner__form .select-inner__list span:hover {
  font-weight: 600;
  color: #6eb1ff;
  opacity: 1;
}

.connect-section .connect-inner__form .select-inner__list span.selected {
  font-weight: 600;
  color: #6eb1ff;
  opacity: 1;
}

.connect-section .connect-inner__form textarea {
  background: #fafcff;
  border: 1px solid #6eb1ff;
  border-radius: 30px;
  padding: 20px 40px;
  min-height: 143px;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  display: block;
  outline: none;
  width: 100%;
  font-family: "Raleway";
  margin: 15px 0;
}

.connect-section .connect-inner__form textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  opacity: 0.5;
}

.connect-section .connect-inner__form textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  opacity: 0.5;
}

.connect-section .connect-inner__form textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  opacity: 0.5;
}

.connect-section .connect-inner__form textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  opacity: 0.5;
}

.connect-section .connect-inner__form textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  opacity: 0.5;
}

.connect-section .connect-inner__form .btn-form {
  padding: 20px;
  text-align: center;
  width: 100%;
  background: #ffdf39;
  -webkit-box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.connect-section .connect-inner__form .btn-form:hover {
  -webkit-box-shadow: 0px 0px 10px #ffdf39;
  box-shadow: 0px 0px 10px #ffdf39;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.connect-section .connect-inner__form .btn-form:focus {
  background: #6eb1ff;
  -webkit-box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 4px 10px rgba(44, 44, 44, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.connect-section .connect-inner__left-img {
  position: absolute;
  top: 51px;
  left: -67px;
  z-index: -1;
}

.connect-section .connect-inner__right-img {
  position: absolute;
  top: 94px;
  right: -44px;
  z-index: -1;
}

.footer {
  padding: 50px 0 20px;
}

.footer-inner {
  border-top: 1px solid #d2d9f2;
  padding-top: 27px;
}

.footer-inner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-inner__logo {
  width: 210px;
}

.footer-inner__lists {
  max-width: 475px;
  width: 100%;
}

.footer-inner__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-inner__list:first-of-type {
  margin-bottom: 15px;
}

.footer-inner__list li:first-of-type {
  width: 105px;
}

.footer-inner__list li:nth-of-type(2) {
  width: 210px;
}

.footer-inner__list li:last-of-type {
  width: 180px;
}

.footer-inner__list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-inner__list a:hover {
  color: #f05542;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-inner__list a:focus {
  font-weight: 600;
  color: #f05542;
  text-shadow: 0px 0px 4px rgba(240, 85, 66, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-inner__address span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  display: block;
  margin-bottom: 15px;
}

.footer-inner__address p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}

.footer-inner__address p svg {
  margin-right: 15px;
}

.footer-inner__links {
  margin-top: 25px;
}

.footer-inner__links span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  display: block;
  margin-bottom: 15px;
}

.footer-inner__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
}

.footer-inner__links a svg {
  margin-right: 12px;
}

.footer-inner__links a:first-of-type {
  margin-bottom: 15px;
}

.footer-inner__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
}

.footer-inner__social a:first-of-type {
  margin-right: 17px;
}

.footer-inner__copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  color: #2c2c2c;
  text-align: center;
}

.footer-inner-mob {
  display: none;
}

.footer-inner-mob__logo {
  margin-bottom: 22px;
}

.footer-inner-mob__logo img {
  height: 95px;
}

.footer-inner-mob__social a:first-of-type {
  margin-right: 17px;
}

.footer-inner-mob__right {
  max-width: 400px;
  width: 100%;
}

.footer-inner-mob__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-inner-mob__lists li {
  margin-bottom: 15px;
}

.footer-inner-mob__lists li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}

.footer-inner-mob__lists > div:last-of-type {
  max-width: 150px;
  width: 100%;
}

.footer-inner-mob__links-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-inner-mob__address {
  max-width: 205px;
  width: 100%;
}

.footer-inner-mob__address span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  display: block;
  margin-bottom: 15px;
}

.footer-inner-mob__address svg {
  margin-right: 15px;
}

.footer-inner-mob__address p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}

.footer-inner-mob__links {
  max-width: 150px;
  width: 100%;
}

.footer-inner-mob__links span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  display: block;
  margin-bottom: 15px;
}

.footer-inner-mob__links a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
}

.footer-inner-mob__links a svg {
  margin-right: 12px;
}

.footer-inner-mob__links a:first-of-type {
  margin-bottom: 17px;
}

.popup-menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-menu.active {
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.popup-menu__nav > li {
  font-size: 18px;
}

.popup-menu__nav > li:not(:last-of-type) {
  margin-bottom: 30px;
}

.popup-menu__nav .language a {
  border: 1px solid #ffdf39;
  background-color: transparent;
  padding: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
}

.popup-menu__nav .language a:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 223, 57, 0.5));
  filter: drop-shadow(0px 0px 10px rgba(255, 223, 57, 0.5));
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-menu__nav .language a:focus {
  background-color: #ffdf39;
  -webkit-filter: none;
  filter: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-menu .close {
  position: absolute;
  top: 29px;
  right: 20px;
  z-index: 1;
  height: 27px;
  width: 27px;
}

.popup-menu .close span {
  display: block;
  height: 3px;
  width: 27px;
  background-color: #2c2c2c;
}

.popup-menu .close span:first-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-menu .close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -3px;
}

@media (min-width: 320px) {
  .container {
    padding: 0 33px;
  }
}

@media (min-width: 380px) {
  .container {
    padding: 0 63px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 1280px) {
  .header > img {
    height: 745px;
  }

  .header {
    padding-bottom: 120px;
  }

  .header-links__nav a {
    font-size: 14px;
  }

  .header-links__nav {
    max-width: 590px;
  }

  .about-section .about-inner__right::after {
    right: 13%;
  }

  .result-section .result-inner ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .result-section .result-inner ul li:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .result-section .result-inner ul li:nth-of-type(2) {
    margin-left: 0;
  }

  .how-section .how-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .how-section .how-inner__right {
    display: none;
  }

  .footer-inner__logo {
    width: 180px;
  }

  .footer-inner__lists {
    width: 375px;
  }

  .footer-inner__address {
    width: 215px;
    padding-right: 29px;
    margin-top: 13px;
  }
}

@media (max-width: 996px) {
  .header > img {
    height: 529px;
    top: 12%;
    left: 50%;
  }

  .header-head {
    padding-bottom: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .header {
    padding-bottom: 70px;
  }

  .header-offer h1 {
    font-size: 60px;
    line-height: 70px;
    max-width: 570px;
  }

  .about-section {
    padding-bottom: 50px;
  }

  .about-section .about-inner__right h2 {
    text-align: center;
  }

  .help-section {
    padding: 50px 0;
  }

  .help-section .help-inner > img {
    left: -21px;
    width: 695px;
  }

  .help-section .help-inner .img-desktop {
    display: none;
  }

  .help-section .help-inner .img-tablet {
    display: block;
  }

  .help-section .help-inner__info_text h2 {
    text-align: center;
  }

  .help-section .help-inner__info_text {
    max-width: 439px;
    width: 100%;
    margin-left: 16%;
    padding-bottom: 0;
  }

  .help-section .help-inner__list {
    margin-top: 80px;
    position: static;
    -webkit-transform: none;
    transform: none;
    padding: 44px 93px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .help-section .help-inner__list li {
    width: 45%;
    margin-bottom: 45px;
  }
}

@media (max-width: 992px) {
  .header-links__nav {
    display: none;
  }

  .header-links__logo img {
    height: 90px;
  }

  .header-links__menu-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-section .about-inner__left {
    display: none;
  }

  .result-section {
    padding: 50px 0;
  }

  .connect-section .connect-inner__left-img {
    height: 462px;
    top: 102px;
  }

  .connect-section .connect-inner__right-img {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 237px;
  }

  .footer-inner__logo {
    display: none;
  }

  .footer-inner__lists {
    display: none;
  }

  .footer-inner__address {
    display: none;
  }

  .footer-inner__links {
    display: none;
  }

  .footer-inner__social {
    display: none;
  }

  .footer-inner__copy {
    margin-top: 40px;
  }

  .footer-inner-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 20px;
  }

  .header-links__menu-mob {
    max-width: 180px;
  }

  .help-section {
    padding: 30px 0;
  }

  .help-section .help-inner > img {
    top: 54px;
  }

  .help-section .help-inner__info_text {
    margin-left: 7%;
    padding: 0;
  }

  .help-section .help-inner__list {
    padding: 44px 50px;
  }

  .result-section {
    padding: 20px 0 50px;
  }

  .result-section .result-inner h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .result-section .result-inner ul span {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 10px;
  }

  .result-section .result-inner ul p {
    font-size: 16px;
    line-height: 19px;
  }

  .how-section .how-inner__item {
    padding: 30px 40px;
  }

  .how-section .how-inner__item.how-inner__item_blue {
    background: url("../img/how-tablet-img-1.png") no-repeat;
    background-size: contain;
  }

  .how-section .how-inner__item.how-inner__item_yellow {
    background: url("../img/how-tablet-img-2.png") no-repeat;
    background-size: contain;
  }

  .how-section .how-inner__item strong {
    font-size: 21px;
    margin-bottom: 21px;
  }

  .how-section .how-inner__item p {
    font-size: 14px;
  }

  .our-partners-section {
    padding-top: 10px;
  }

  .footer-inner-mob__right {
    max-width: 385px;
  }
}

@media (max-width: 576px) {
  input[type=text],
  input[type=tel],
  input[type=email],
  input[type=number] {
    padding: 10px 26px;
    font-size: 14px;
  }

  .btn {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
  }

  .header > img {
    height: 239px;
    top: 10%;
  }

  .header-links__logo img {
    height: 56px;
  }

  .header-links__btn {
    display: none;
  }

  .header-links__menu-mob .burger {
    width: 16px;
  }

  .header-links__menu-mob p {
    font-size: 14px;
  }

  .header-links__menu-mob {
    max-width: 190px;
  }

  .header-offer h1 {
    font-size: 35px;
    line-height: 41px;
    max-width: 313px;
    margin-bottom: 40px;
  }

  .header-offer__btns .btn {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 20px;
  }

  .header-offer__btns .btn:first-of-type {
    margin: 0 0 8px;
  }

  .header-offer {
    padding: 30px 0;
  }

  .about-section .about-inner__right::after {
    height: 72px;
    width: 102px;
    right: -5%;
    bottom: 13%;
  }

  .about-section .about-inner__right h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .about-section .about-inner__right p {
    font-size: 14px !important;
  }

  .about-section .about-inner__right li img {
    width: 30px;
  }

  .about-section .about-inner__right li {
    font-size: 14px;
    line-height: 16px;
  }

  .help-section {
    position: relative;
  }

  .help-section .help-inner {
    position: static;
  }

  .help-section .help-inner > img {
    height: 320px;
    -o-object-fit: contain;
    object-fit: contain;
    width: auto;
    left: 48%;
    top: 84px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .help-section .help-inner .img-tablet {
    display: none;
  }

  .help-section .help-inner .img-mob {
    display: block;
  }

  .help-section .help-inner__info_text h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 70px;
  }

  .help-section .help-inner__info_text p {
    font-size: 14px;
    max-width: 210px;
    width: 100%;
    margin: 0 auto 0.5em;
  }

  .help-section .help-inner__info_text .btn {
    margin-top: 78px;
  }

  .help-section .help-inner__info_text {
    margin: 0;
    max-width: none;
  }

  .help-section .help-inner__list {
    margin-top: 70px;
    border-radius: 50px;
    padding: 36px 60px 10px;
  }

  .help-section .help-inner__list li p {
    font-size: 14px;
  }

  .help-section .help-inner__list li {
    width: 100%;
    margin-bottom: 27px;
  }

  .result-section .result-inner ul {
    padding: 0;
  }

  .result-section .result-inner ul li:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .how-section {
    padding: 10px 0;
  }

  .how-section h2 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 auto 40px;
  }

  .how-section .how-inner__item {
    padding: 23px;
  }

  .how-section .how-inner__item.how-inner__item_blue {
    background: url("../img/how-mob-img-2.png") no-repeat center;
    background-size: 102% 102%;
    max-width: 278px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .how-section .how-inner__item.how-inner__item_yellow {
    background: url("../img/how-mob-img-1.png") no-repeat;
    background-size: 100% 101%;
    max-width: 278px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .how-section .how-inner__item strong {
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 21px;
  }

  .how-section .how-inner__item ul li img {
    margin-right: 9px;
  }

  .our-partners-section {
    padding: 50px 0;
  }

  .our-partners-section .our-partners-inner__head {
    margin-bottom: 24px;
  }

  .our-partners-section .our-partners-inner__head h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .our-partners-section .our-partners-inner__head p {
    font-size: 14px;
  }

  .our-partners-section .our-partners-inner__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .our-partners-section .our-partners-inner__list img:not(:last-of-type) {
    margin: 0 0 16px;
  }

  .our-partners-section .our-partners-inner__info span {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18px;
  }

  .connect-section {
    padding: 20px 0;
  }

  .connect-section .connect-inner__head h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .connect-section .connect-inner__head p {
    font-size: 14px;
    line-height: 16px;
  }

  .connect-section .connect-inner__form .select-inner__head {
    padding: 10px 26px;
  }

  .connect-section .connect-inner__form .select-inner__head span {
    font-size: 14px;
  }

  .connect-section .connect-inner__form .select-inner__head img {
    height: 9px;
  }

  .connect-section .connect-inner__form .select-inner__list {
    padding: 10px 26px;
  }

  .connect-section .connect-inner__form .select-inner__list span {
    font-size: 14px;
  }

  .connect-section .connect-inner__form textarea {
    padding: 10px 26px;
    font-size: 14px;
  }

  .connect-section .connect-inner__form textarea::-webkit-input-placeholder {
    font-size: 14px;
  }

  .connect-section .connect-inner__form textarea::-moz-placeholder {
    font-size: 14px;
  }

  .connect-section .connect-inner__form textarea:-ms-input-placeholder {
    font-size: 14px;
  }

  .connect-section .connect-inner__form textarea::-ms-input-placeholder {
    font-size: 14px;
  }

  .connect-section .connect-inner__form textarea::placeholder {
    font-size: 14px;
  }

  .connect-section .connect-inner__form .btn-form {
    padding: 9px 20px;
    font-size: 16px;
  }

  .connect-section .connect-inner__left-img {
    height: 158px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -30px;
  }

  .connect-section .connect-inner__right-img {
    height: 81px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer-inner__copy {
    margin-top: 25px;
    font-size: 8px;
  }

  .footer-inner-mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-inner-mob__social {
    margin-bottom: 28px;
  }

  .footer-inner-mob__lists {
    margin-bottom: 24px;
  }

  .footer-inner-mob__links-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-inner-mob__address {
    max-width: none;
    margin-bottom: 20px;
  }

  .footer-inner-mob__address svg {
    width: 15px;
    opacity: 0.7;
  }

  .footer-inner-mob__links {
    max-width: none;
  }

  .footer-inner-mob__links a:first-of-type {
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .about-section .about-inner__right::after {
    height: 59px;
    width: 91px;
    bottom: 11%;
  }
}

@media (max-width: 430px) {
  .help-section .help-inner > img {
    top: 120px;
  }
}

@media (max-width: 375px) {
  .help-section .help-inner > img {
    top: 100px;
    left: 46%;
  }

  .help-section .help-inner__info_text h2 {
    padding: 0 15px;
    margin-bottom: 50px;
  }

  .help-section .help-inner__info_text .btn {
    margin-top: 56px;
  }

  .help-section .help-inner__list {
    padding: 36px 36px 10px;
  }
}